body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    background-color: rgb(202, 107, 6);
    color: aliceblue;
    width: 90%;
    text-decoration: none;
    background-color: black;
    color: aliceblue;
}
}

.social-box{
    margin: 0;
    width: 50;
    align-items: center;

}

.mw-headerart{
    align-content: center;
    
}


a{
    text-decoration: none;
    color: aliceblue;
}

a:hover{
    text-decoration: underline;
    color: orange;
}

.gallery-image{
    width: 250px;
    height: 250px;
    overflow: clip;
    object-fit: cover;
    image-rendering: pixelated;
    padding: 2px;
    object-fit: cover;
    object-position: 250px, 250px;
    transition-duration: 0.8;
}
:hover{
    object-fit: contain;
}